<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WisedatConnector.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WisedatConnector.My.MySettings>
            <setting name="ODBC_Server" serializeAs="String">
                <value />
            </setting>
            <setting name="ODBC_User" serializeAs="String">
                <value />
            </setting>
            <setting name="ODBC_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ODBC_DB" serializeAs="String">
                <value />
            </setting>
            <setting name="ODBC_AuthType" serializeAs="String">
                <value />
            </setting>
        </WisedatConnector.My.MySettings>
    </userSettings>
</configuration>
